<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>{{ page.title }}</title>
    <meta name="author" content="Tim Wingfield" />
  </head>
  <body>
    <div id="main">
      <div id="top">
        <a href="/">Home</a>
      </div>
      <div id="content">
        {{ content }}
      </div>
      <div id="footer"><p>copyright 2011 Timbo Inc.</p></div>
    </div>
  </body>
</html>
